.Logo_container-dekstop{
    overflow: hidden;
}

.logo_holder{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
}
.logo_holder:hover,
.logo_holder:active{
    border: 1px solid bisque;
    background: rgba(226, 241, 241, 0.5);
   
}
.logo_holder img{
    
    width: 4rem;
    height: 4rem;
    padding: 0.25rem;
}
.logo_headers{
    text-align: center;
    color:white;
    font-weight: lighter;
    font-size: 16px;
}