.taskbar-container{
    display: flex;
    position: absolute;
    bottom: 0;
    padding: 0.5px;
    background-color: #101010;
    width: 100%;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
    z-index: 999999999999 !important;
    
}

.taskbar-input{
    background-color: #3f3f3f;
    padding: 0.5rem;
    outline: none;
    border: .15px solid rgb(180, 177, 177);
    margin: 0 0.5rem;
    margin-top: none;
    width: 28rem;
    height: 2.5rem;
}
.taskbar-inputnew{
    background-color: #3f3f3f;
    padding: 0.5rem;
    outline: none;
    border: .15px solid rgb(180, 177, 177);
    margin: 0 0.5rem;
    margin-top: none;
    width: 28rem;
    height: 2.5rem;
    display: none;

}

@media(min-width:60rem){
    .taskbar-inputnew{
        display: block;
    }
    
}
.taskbar-input:focus{
    color: rgb(8, 8, 8);
    background-color: white;
}


::placeholder{
    color: rgb(231, 226, 226);
}

.svg-container{
    margin : 0 .75rem;
    display: flex;
    align-items: center;
    
}

.svg-container svg :hover,
.svg-container svg :active{
    cursor: pointer;
    fill: #0078d7;
    opacity: .8;
}
.taskbar_accessibility-container{
    display: flex;
    align-items: center;
}
