@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,200&display=swap");



.containerLeft {
  width: 33%;
  height: 100%;
  background: #191919;
  position: absolute;
  bottom: 0;
  top: 0;

  padding: 2rem 0;
  color: white;
  text-align: center;
  display: none;
}

.SideNavHeaders {
  margin: 0.75rem 0;
}

.btnSideNav {
  width: 100%;
  background: #191919;
  border: none;
  color: white;
  font-family: poppins;
  font-size: 1rem;
  font-weight: bolder;
  text-align: left;
  padding-left: 1rem;
}
.btnSideNav:hover {
  background-color: #333333;
  cursor: pointer;
}
@media (min-width: 60rem) {
  .containerLeft {
    display: block;
    width: 21%;
  }


}
