
.selfDrawerContainer {
  width: 60%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 68vh;
  background: #1f1f1f;
  animation: slide 0.2s ease-in;

  overflow: hidden;
  z-index: 10000;
}
@media (min-width: 60rem) {
  .selfDrawerContainer {
    width: 33%;
  }
}
@keyframes slide {
  from {
    height: 0;
  }
  to {
    height: 80vh;
  }
}
.leftDrawerNav {
  color: white;
  width: 10px;
  height: 100%;
}
.bottom {
  margin: 0;
  position: absolute;
  bottom: 3rem;
}
.bottom i,
.top i {
  display: flex;
  /* margin-top: 0.7rem; */
  padding: 1rem;
}
.top {
  margin: 0;
  position: absolute;
}

.innerSideNav {
  position: absolute;
  top: 0;
  left: 0;
  /* display: none; */
  width: 30%;
  margin: 0;
  height: 100%;
  background: #2f2f2f;
  z-index: 888;
  animation: increasewidth 0.2s ease-in;
  color: white;
}
@keyframes increasewidth {
  from {
    width: 0px;
  }
  to {
    width: 30%;
  }
}
@media (max-width:60rem) {
  .innerSideNav{
      width: 60%;
  }
    
}

.innerSideNavPholder:hover {
  background: #414040;
}

.RightDrawerNav {
  width: 200px;
  margin-left: 3rem;
  padding-top: 0.75rem;
}
.bottomtwice {
  position: absolute;
  top: 5;
  left: 0;
  bottom: 3rem;
  width: 100%;
  z-index: 55;
}
.bottomtwice i, .toptwice i {
  display: flex;
  padding: 1rem;
  align-items: center;
}
.toptwice {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  width: 100%;
  z-index: 55;
}
.bottomtwice i p,
.toptwice i p {
  margin-left: 1rem;
}
.bottomtwice i:hover,
.toptwice i:hover {
  background: #383838;
  cursor: pointer;
}
.WindowsStartAppholder{
  
    display: flex;
   
    align-items: center;
    margin-bottom: 1rem ;
   
}
.WindowsStartAppholder img{
     height: 30px;
     width: 30px;
     padding: 0.25rem;
}
.WindowsStartAppholder:hover{
    background: #383838;
    cursor: pointer;
}
.WindowsStartAppholder p{
    font-size: 16px;
    margin-left: 0.5rem;
}